<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="map.minimap" >

    <!-- Android permissions for this application that user must grant before installation -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Cool Features we use -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/minimaplogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Meta-data and API keys go here -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCIMEAAroeaswyh59mdYiaSn3jmNDPJgPI" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FriendFinder"
            android:label="@string/title_activity_friend_finder"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Facebook API Activities Declared Below -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".games.Sardines"
            android:label="@string/title_activity_sardines" >
        </activity>
        <activity
            android:name=".games.MarcoPolo"
            android:label="@string/title_activity_marco_polo" >
        </activity>
        <activity
            android:name=".games.Assassins"
            android:label="@string/title_activity_assassins" >
        </activity>
        <activity
            android:name=".MainMenu"
            android:label="@string/title_activity_main_menu"
            android:theme="@style/MainMenuTheme"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
    </application>

</manifest>
